.hover-link {
    &:hover {
        color: var(--bs-primary) !important;
    }
}

.hover-img {
    img {
        transition: transform .2s;

        &:hover {
            transform: scale(1.09);
        }
    }
}

.collection-box {
    .tag {
        left: 15px;
        top: 15px;
    }

    .title {
        background: rgb(255, 255, 255);
        background: linear-gradient(180deg, rgba(249, 249, 249, 0) 0%, #F9F9F9 100%);
        padding: 25px;
        position: relative;
        bottom: -70px;
        -webkit-transition: bottom 0.5s;
        transition: bottom 0.5s
    }

    &:hover {
        .title {
            bottom: 0px;
        }
    }
}

.banner-slider {
    .banner-text {
        bottom: 35px;
        left: 40px;
    }

    .slick-dots {
        bottom: 30px;

        li button:before {
            font-size: 12px;
        }
        li button:focus:before{
            opacity:0.25 !important;
        }

        li.slick-active button:before {
            color: var(--bs-primary);
            opacity: 1 !important;
        }
    }

}

.explore {
    .nav-link {
        background-color: var(--bs-gray);
        padding: 8px 35px;

    }
}

.contact-wrap {

    height: 100%;

    &:after {
        position: absolute;
        content: "";
        left: 100%;
        right: 0;
        width: 100vw;
        background-color: var(--bs-white);
        top: 0;
        height: 100%;
    }

    .form-control-lg {
        padding: 15px 15px;
    }

    .force-opaque::placeholder {
        font-size: 12px;
        color: $black;
        opacity: 1;
      }
}
body,html {
    overflow-x: hidden;
}

// Responsive css

@media screen and (max-width:1199px){
    #menucanvasExample{
        max-width: 300px;
        ul{
            li{
                a{
                    color: $white;
                    font-weight: 400;
                }
            }
        }
    }
    #Cartoffcanvas{
        max-width:100%;
    }
}