.hover-link {
    &:hover {
        color: var(--bs-primary) !important;
    }
}

.hover-img {
    img {
        transition: transform .2s;

        &:hover {
            transform: scale(1.09);
        }
    }
}

.collection-box {
    .tag {
        left: 15px;
        top: 15px;
    }

    .title {
        left: 0px;
        bottom: 0px;
        background: rgb(255, 255, 255);
        background: linear-gradient(180deg, rgba(249, 249, 249, 0) 0%, #F9F9F9 100%);
        padding: 25px;
    }
}

.banner-slider{
    .banner-text{
        bottom: 35px;
        left: 40px;
    }
}