


.container{
  max-width: 1400px !important;
}
  .covertype{
    cursor: pointer;
    &.active{
      p{
        color: var(--bs-primary) !important;
      }
    }
  }
  .chat-icon{
    bottom: 15px;
    right: 50px;
    height: 55px;
    width: 55px;
}
.mobile-cover-images{
  transition: all 0.08s ease-in-out;
}
.round-42{
  width: 42px;
  height: 42px;
}
.round-25{
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.round-35{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #B8CFF9;
}
.bg-brown {
  background-color: #92711C;
}


.thumbSlider{
  .slick-current{
    .active-slide{
      background-color: rgb(226, 226, 254);
      border: 1px solid var(--bg-light-primary);
    }
  }
}

.product-slider .slick-prev:before,.product-slider .slick-next:before{
  color: black !important;
}
.product-slider .slick-next {
  right: 24px !important;
}
.product-slider .slick-prev {
  left: 24px !important;
  z-index: 3 !important;
}
.product-slider .slick-dots{
  bottom: 24px !important;
}
.product-slider .slick-dots li button:before{
  color: #123A3E;
  font-size: 10px;
}
:focus-visible {
  outline: none;
}
.letter{
  letter-spacing: 1px;
}
.half-letter{
  letter-spacing: 0.5px;
}
.round-12{
  width: 7px;;
  height: 7px;
  border-radius: 50%;
}
.round-6{
  border-radius: 50%;
  width: 6px;
  height: 6px;
  display: block;
}
.pointer{
  cursor: pointer;
}
.check{
  background-color: #D9D9D9;
  color: black;
  font-size: 22px;
  padding: 8px 24px;
  &:hover{
    background-color: black;
    color: white;
    cursor: pointer;
  }
}
button{
  border-radius: 0;
}

// Swiper Js Library

.accessories .slick-arrow.slick-next,
.accessories .slick-arrow.slick-prev{
background-color: #ffffff;
height:40px;
width: 40px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
opacity: 0.8;
color: black;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
border: 7px solid white;
}
.accessories .slick-prev{
  left: -40px !important;
  z-index: 20;
  @media screen and (max-width: 770px) {
    left: 0px !important;
    display: none !important;
  }
}

.accessories .slick-next{
  right: -40px !important;
  z-index: 20;
  @media screen and (max-width: 770px) {
    right: 0px !important;
    display: none !important;
  }
}

.accessories .slick-arrow.slick-next,
.accessories .slick-arrow.slick-prev
{
  &:hover{
    background-color: #2574f5;
    border-color: #2574f5;
    opacity:1;
    &::after{
     color: white !important;
    }
    &::before{
      color: white !important;
    }
  }


  
}


.accessories .slick-prev::before,.accessories .slick-next::before{
  font-family: slick !important;
  opacity: 0 !important;
    }
.accessories .slick-arrow.slick-prev {
  left: 0 !important;
  background: url("https://img.icons8.com/ios/50/000000/long-arrow-left.png") 0
    0 / 100% no-repeat;
}
.accessories .slick-arrow.slick-next {
  right: 0 !important;
  background: url("https://img.icons8.com/ios/50/000000/long-arrow-right.png") 0 0 / 100% no-repeat;
}

.accessories .arrows{
height:20px;
width:20px;
margin: 1px;

}

.form-check-input{
  width: 25px !important;
  height: 25px !important;
  right: 0;
  border: 1px solid #161616 !important;
}

// Customer review
.review-rating{
  border-color:var(--bs-light-primary) ;
  border-style: solid;
  border-width: 18px 14px;
  border-radius: 20px;
}

// zoom

.zoom{
  transition: all 0.3s ease-in-out;
  &:hover{
    scale: 1.10;
  }
}

.bg-cover{
  background-color: #E0EAFD;
  min-width: 1200px;
  height: 100%;
  z-index: -1;
  position: absolute;
}
.checkout-cover{
  height: 100%;
  min-width: 1200px;
  position: absolute;
  z-index: -1;
  background-color: #E0EAFD58;
  right: 0;
}


// shopping cart

.hr-order{
  border-width: 2px;
  border-color: #c7c7c7;
  position: absolute;
  top: 101px;
  right: 0;
  width: 41.5%;
}
.hr-second-order{
  width: 41.5%;
    position: absolute;
    top: 430px;
    right: 0;
    border-color: #c7c7c7;
    border-width: 3px;
}

// checkout
.form-control:focus {
  color: #000 !important;
  background-color: transparent !important;
  border-color: #000 !important;
  outline: 0 !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  border-width: 2px !important;
}
.form-control{
  padding: 11px 16px !important;
  color: #000 !important;
  background-color: transparent !important;
  border-color: #000 !important;
  outline: 0 !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  border-width: 2px !important;
}
.form-control.float-feature{
  padding:26px 16px 10px 16px !important;
  border:none !important;
}
.form-control.float-feature-input{
  padding:26px 16px 10px 16px !important;
  border-color: #B7C0D2 !important;
}
.form-select{
    border: 2px solid #000 !important;
    border-radius: 0 !important;
    padding: 10px 38px 10px 16px !important;
}
::-webkit-input-placeholder {
  color: #666666;
}

::-moz-placeholder {
  color: black;
}

::-ms-placeholder {
  color: #666666;
}

::placeholder {
  color: #666666;
}


//hr line

.filter-line{
  border-width: 2px;
  border-color: #797979;
  margin: 30px 0px;
}

//login
.login-input{
  // width: 780px;
  border: 3px solid #D4D5D9;
}

//orders

.delivered-card{
  padding: 9px 10px;
  background-color: #CEDDFA;
}

// simplebar
.filter-simplebar{
  max-height: calc(100vh - 100px);
}

//checkout

.input-indication::placeholder{
  font-size: 12px;
  color: #000 !important;
  opacity: 1;
}

//shopping-cart page

.cartbtn{
  border-width: 2px 0px 2px 2px;
  @media only screen and (max-width:373px){
    width: 100%;
    justify-content: space-between;
    border-width: 2px 2px 0px 2px;
  }
}

//product-filter-page

.filter-brand,.filter-model{
  &.collapsed{
    .filter-brand-icon{
      transform: rotate(0deg);
    }
    .filter-model-icon{
      transform: rotate(0deg);
    }
  }
  .filter-brand-icon{
    transform: rotate(90deg);
    transition: all 0.1s ease-in-out;
  }
  .filter-model-icon{
    transform: rotate(90deg);
    transition: all 0.1s ease-in-out;
  }
}

.sort-dropdown{
  .sort-icon{
    transition: all 0.1s ease-in-out;
  }
  &.show{
    .sort-icon{
      transform: rotate(90deg);
    }
  }
  &::after{
    display: none !important;
  }
}


//cart-offcanvas
.cart-offcanvas{
  width: 500px !important;
}

//footer links
.footer-links{
  li{
      a{
          transition: .3s;

          &:hover{
              margin-left: 10px;
              transition: .3s;
              color: yellow !important;
          }
      }
  }
}

.max-w-100{
  max-width: 100% !important;
}

//shopping-cart

.shop-cart-scroll{
  @media only screen and (max-width:991px){
    overflow: auto;
  }
  .shop-cart-items{
    @media only screen and (max-width:991px){
      min-width: 700px;
    }
   
  }
}