
  .covertype.active{
    border-width: 0px 0px 3px 0px !important;
    border-style: solid !important;
    border-color: #000090 !important;
    border-radius: 8px;
  }
  .covertype{
    cursor: pointer;
  }