//Tech responsive image

.common-cat-sale{
    width: 200px;
    height: 100px;

    @media only screen and (max-width:500px){
        width: 180px;
        height: 80px;
    }
}

.product-card{
    @media only screen and (max-width:500px){
        h3{
            font-size: 17px !important;
        }
        span{
            font-size: 14px !important;
        }
        button{
            padding: 12px 16px !important;
        }
    }
}

.account-wrapper{
    opacity: 0;
    @media only screen and (max-width:500px){
        opacity: 1;
    }
}