
// @font-face {
//   font-family: "Graphik", sans-serif;
//   src: url(../../../../public/fonts/Subtitle/GraphikBold.otf);
//   font-weight: 700;
// }
// @font-face {
//   font-family: "Graphik", sans-serif;
//   src: url(../../../../public/fonts/Subtitle/GraphikSemibold.otf);
//   font-weight: 600;
// }
// @font-face {
//   font-family: "Graphik", sans-serif;
//   src: url(../../../../public/fonts/Subtitle/GraphikMedium.otf);
//   font-weight: 500;
// }
// @font-face {
//   font-family: "Graphik ", sans-serif;
//   src: url(../../../../public/fonts/Subtitle/GraphikRegular.otf);
//   font-weight: 400;
// }
// @font-face {
//   font-family: "Graphik Light", sans-serif;
//   src: url(../../../../public/fonts/Subtitle/GraphikLight.otf);
//   font-weight: 300;
// }
@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 200;
  src: url(../../../../public/fonts/Subtitle/GraphikExtralight.otf);
  }
@font-face {
  font-family: 'Graphik Light';
  font-style: normal;
  font-weight: 300;
  src: url(../../../../public/fonts/Subtitle/GraphikLight.otf);
  }
@font-face {
  font-family: 'Graphik Regular';
  font-style: normal;
  font-weight: 400;
  src: url(../../../../public/fonts/Subtitle/GraphikRegular.otf);
  }
@font-face {
  font-family: 'Graphik Medium';
  font-style: normal;
  font-weight: 500;
  src: url(../../../../public/fonts/Subtitle/GraphikMedium.otf);
  }

  @font-face {
    font-family: 'Trade Gothic LT Std Bold';
    font-style: normal;
    font-weight: bold;
    src: url(../../../../public/fonts/title/TradeGothic-LT-Bold-Regular.ttf);
    }

html{
    font-family:"Graphik Regular", sans-serif !important;
  }
  
.title{
    font-weight: 300 !important;
}