// font-face

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url(../../../../public/fonts/NeueHelveticaBQ-Bold.otf);
    font-weight: 700;
  }
// @font-face {
//     font-family: 'Helvetica Neue';
//     src: url(../../../../public/fonts/HelveticaNeueHeavy.otf);
//     font-weight: 600;
//   }
// @font-face {
//     font-family: 'Helvetica Neue';
//     src: url(../../../../public/fonts/HelveticaNeueMedium.otf);
//     font-weight: 500;
//   }
@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url(../../../../public/fonts/HelveticaNeueLTStd-Roman.otf);
    font-weight: 400;
  }
@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url(../../../../public/fonts/HelveticaNeueLTStd-Lt.otf);
    font-weight: 300;
  }
// @font-face {
//     font-family: 'Helvetica Neue';
//     src: url(../../../../public/fonts/HelveticaNeueUltraLight.otf);
//     font-weight: 200;
//   }
  
html{
    font-family:'Helvetica Neue LT Std', sans-serif !important;
  }
  
.title{
    font-weight: 300 !important;
}